body {

background: radial-gradient(circle, #000000, #0a0a0a);

color: #00ffcc;

font-family: monospace;

text-align: center;

padding-top: 100px;

}

.box {

border: 2px solid #00ffcc;

padding: 30px;

width: 400px;

margin: auto;

box-shadow: 0 0 20px #00ffcc;

animation: fadeIn 2s;

}

input, button {

padding: 10px;

font-size: 18px;

margin-top: 10px;

}

button {

cursor: pointer;

background: black;

color: #00ffcc;

border: 1px solid #00ffcc;

}

button:hover {

background: #00ffcc;

color: black;

}

@keyframes fadeIn {

from {opacity:0;}

to {opacity:1;}

}