 <style>
        body {
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            background-color:#c4d5e4;
            padding-left: 60px;
            padding-right: 60px;
        }

        .Bewerbungsbild {
              width: 500px;
            height: 400px;
             object-fit: cover; 
        }
        
        .headline {
            color:#0B769F;
            font-variant: small-caps;
            font-weight: bolder;
            padding-left: 110px;
        }

    .C1 {
        display: flex;                 /* Flexbox aktivieren */
        justify-content:start; /* Abstand zwischen Text und Bild */
        align-items: center;           /* Vertikal zentrieren */
        gap: 40px;                      /* Abstand zwischen Text und Bild */
        background-color: #0B769F;
        padding-left:60px;
        padding-right: 60px;
        
    }

    h2 {
        width:max-content;
        font-size: x-large;
    }

    .Mot {
        width: max-content;
        font-size: larger;
    }

    .Bewerbungsbild {
        max-width: 380px;               /* Bildgröße begrenzen */
        height: auto;                   /* Seitenverhältnis beibehalten */
        padding: 20px;
        padding-left: 30px;
    }

    .more {
        background: #fff;
        color: #0B769F;
        padding: 10px 20px;
        border-radius: 25px;
        text-decoration: none;
        font-weight: bold;
        transition: 0.3s;
    }

    .CV{       
        background: #fff;
        color: #0B769F;
        padding: 10px 20px;
        border-radius: 25px;
        text-decoration: none;
        font-weight: bold;
        transition: 0.3s;
    }

    h3 {
  color: #004aad;
  border-bottom: 2px solid #0B769F;
  margin-bottom: 15px;
  text-decoration: none;
  font-weight: bold;
  font-size:x-large;
}

.skills-list {
  list-style: none;
  padding: 0;
}

.skills-list li {
  background: #fff;
  margin: 8px 0;
  padding: 10px 15px;
  border-left: 6px solid #0078ff;
  border-radius: 5px;
  font-weight: 500;
}

/* Footer */
footer {
  background: #004aad;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  font-size: 0.9em;
}

a {
  color: #0078ff;
}

.Line-Height {
    line-height: 5;
}

p{
    margin-bottom: 80px;
    margin-top: 20px;
}

.p1{
    margin-top: 16px;
    margin-bottom: 16px;
}

section{
    margin-top: 50px;
    margin-bottom: 50px;;
}


</style>
